*/{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(27, 27, 46);
    /*rgb(36, 36, 95);*/
    color: beige;
    padding: 12px;
    /*define o tamanho do cabeçalho da pagina*/
}

#about h1{
    font-size: 24px;
    margin-left: 8px;
}

#tec h2{
    font-size: 24px;
    margin-left: 8px;
}

#contact h3{
    font-size: 24px;
    margin-left: 8px;
}
p {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

header nav {
    text-align: right;
    /*para alinhas os links na direita da pagina*/
}

/*.container {
    display: block;
    margin: 8px auto;
}*/

nav li {
    display: inline;
    font-size: 20px;
    padding: 0 12px
}

nav li a:hover {
    color: #fff;
    /* Muda a cor dos links ao passar o mouse */
}

nav li a {
    text-decoration: none;
    color: beige;
}

img{
    width: 50px;
    height: 50px;
    padding: auto;
} 

#contact ul li{
    text-decoration: none;
    display: inline;
    padding: 12px;
}

form h3{
    font-size: 24px;
}

/*ul .conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide o contêiner em duas colunas de largura igual 
    gap: 20px; /* Adiciona um espaço entre as colunas 
}

form {
    grid-column: 1 / 2; /* Ocupa a primeira coluna 
}

.social-links {
    grid-column: 2 / 3; /* Ocupa a segunda coluna 
}
*/

input,
textarea{
    border-radius: 10px;
    display: block;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    cursor: pointer;
}

/*input{
    background-color: aqua;
}
/*
input button:hover{
    background-color: blue;
}*/

input[type="submit"]:hover {
    background-color: rgb(27, 27, 46);
    color: white;
}

textarea{
    resize: none;
}

footer{
    background-color: rgb(27, 27, 46);
    padding: 14px;
    color: beige;
}